{
  "server": false,
  "datacenter": "videotron-dc",
  "node_name": "{{ inventory_hostname }}",
  "data_dir": "C:\\consul\\data",
  "bind_addr": "{{ ansible_host }}",
  "advertise_addr": "{{ ansible_host }}",
  "retry_join": ["{{ monitoring_server_tailscale_ip }}"],
  "services": [
    {
      "name": "videotron",
      "tags": ["{{ vtron_name }}"],
      "address": "{{ ansible_host }}",
      "port": 8080,
      "check": {
        "http": "http://{{ ansible_host }}:8080",
        "interval": "30s",
        "timeout": "5s"
      }
    }
  ]
}
